.navlinks{
    border: 5px solid purple;

}
.main-render{
    border: 5px solid maroon;
    cursor: crosshair;
}

.planet-card{
    border: 5px solid yellow;
}

.stellar-card{
    border: 5px solid navy;
}

.animations{
    position:absolute;
    z-index: 1;
}