@font-face{
    font-family: Teko;
    src: url(../assets/fonts/Teko-VariableFont_wght.ttf)
}

body{
    font-family: Teko;
    color: white;
    font-weight: 100;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
}
h1{
    font-size: 64px;
    letter-spacing: 15px;
    padding-top: 20px;
    text-shadow: 0 0 5px white;
}

h4{
    letter-spacing: 3px;
    font-size: auto;
}
p{
    line-height: 18px;

}
button{
    font-family: Teko;
    font-size: 24px;
}
.header{
    display: flex;
    justify-content: center;
    align-content: center;
    grid-area: header;
}

.main-render{
    background-color: black;
    cursor: crosshair;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10% 7% auto 10%;
    grid-template-areas:
        "header header header"
        "num-stars name num-planets"
        "side1 render side2"
        "footer footer footer";
    
}
.stars{
    grid-area: num-stars;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
}

.stars div{
    background-color: rgb(252, 184, 58);
    width: 25px;
    height: 25px;
    border-radius: 12px;
}

.stars h2{
    padding-top: 6px;
}

.num-planets{
    grid-area: num-planets;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap: 20px;
}

.num-planets div{
    background-color: rgb(11, 79, 117);
    width: 25px;
    height: 25px;
    border-radius: 12px;
}
.num-planets h2{
    padding-top: 7px;
}
.canvas-container{
    grid-area:render;
}

.planet-card{
    visibility: hidden;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: side2;
    background-color: rgba(145, 229, 255, 0.1);
    width: 85%;
    justify-self: center;
}
.pcard-wrapper-2 h3{
    font-size: 20px;
    text-align: right;
    background-color: rgba(252, 184, 58, 0.5);
    width: 70%;
    padding-right: 35px;
    padding-top: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pcard-wrapper-2 h4 {
    padding-right: 20px;
    text-align: right;
}
.pcard-wrapper{
    background: linear-gradient(to bottom, rgba(252, 184, 58, 0.5), rgba(216, 102, 121, 0.5));
    height: 99%;
    width: 96%;
    border-top-left-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}
.pcard-wrapper-2{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 95%;
    width: 80%;
    background-color: #0F171A;
    border-top-left-radius: 20px;
}
#pname{
    background-color: none;
    font-size: 24px;
    padding-right: 100px;
}
.star-card{
    visibility: hidden;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: side1;
    background-color: rgba(145, 229, 255, 0.1);
    width: 85%;
    justify-self: center;
}
.scard-wrapper{
    width: 95%;
    height: 98%;
    background: linear-gradient(to bottom, rgba(134, 81, 134, 0.5), rgba(216, 102, 121, 0.5));
    border-top-right-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.scard-wrapper-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 99%;
    width: 80%;
    background-color: #0F171A;
    border-top-right-radius: 20px;
}
.star-card h4{
    padding-left: 10%;
}

.star-card h3{
    font-size: 20px;
    background-color: rgba(134, 81, 134, 0.5);
    width: 60%;
    padding-left: 25px;
    padding-top: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sys-name{
    grid-area: name;
    font-size: 64px;
    text-align: center;
}

.controls{
    grid-area: footer;
    display:grid;
    background-color: rgb(87, 87, 87);
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "scard status buttons pcard";
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 0 7px;
}
.button-background{
    background-color: black;
    display:flex;
    width: 75%;
    height: 90%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 5px;
    justify-content: space-around;
    align-items: center;
}
.button-wrapper{
    display:flex;
    background: linear-gradient(to bottom, rgb(134, 81, 134), rgb(252, 184, 58));
    width: 90%;
    height: 90%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 5px;
    justify-content: flex-end;
    align-items: flex-start;
}
.buttons{
    display:flex;
    width: 100%;
    height: 80%;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: black;
    box-shadow: 0 0 10px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.explore, .pause, .sound{
    width: 25%;
    background-color: gray;
    border-radius: 5px;
    border: black;
}
.pause{
    background-color: orange;
}

.close-scard, .close-pcard{
    width: 75%;
    height: 30px;
    color:salmon;
    background-color: black;
    font-size: 20px;
    border: black;
}

.scales{
    background: linear-gradient(to right, red,yellow, green,yellow, red);
    width: 100px;
    height: 20px;
}

#radmarker{
    position:relative;
    left: 20px;
}

.system{
    color: orange;
}

.status{
    grid-area: status;
    border: 1px solid black;
    background-color: black;
    height: 80%;
    width: 80%;
    justify-self: center;
    box-shadow: 0 0 10px black;
    display:flex;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.nav-status {
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
}

.links {
    display:flex;
    width: 40%;
    justify-content: space-between;
    align-items: flex-end;
    font-size:28px;
    
}

.links i{
    color:black;
    padding: 5px;
    padding-bottom: 20px;
}

.star-info, .planet-info {
    display: flex;
    justify-content: center;
}

.star-info{
    grid-area: scard;
}

.planet-info{
    grid-area: pcard;
}

#modal-open{
    background-color:cadetblue;
    border-top-left-radius: 10px;
}
#github{
    background-color: rgb(134, 81, 134);
    border-top-left-radius: 10px;
}

#linkedin{
    background-color:rgb(252, 184, 58);
    border-top-left-radius: 10px;
}


#modal{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;

}

.modal-contents{
    background-color: #0F171A;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 90%;
    height: 95%;
    padding-left: 10px; 
    color: white;
    font-size: 24px;
    font-family: Teko;
    display:grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% auto 8%;
    grid-template-areas: 
        "section-1 section-1"
        "section-2 section-3"
        "section-4 section-4";
}
.section-1{
    grid-area: section-1;
}
.section-2{
    grid-area: section-2;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-3{
    grid-area:section-3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

}
.section-3 h3{
    background-color:rgba(98, 184, 187, 0.5) ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 50px;
    padding-right: 10px;
    height: 40px;
    display: flex;
    align-items: center;
}
.section-4{
    grid-area:section-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modal-stemp{
    background: linear-gradient(to right, red, yellow, white, rgb(202, 219, 255));
    width: 100px;
    height: 25px;
    display: inline-block;
    border: 2px solid black;
}

#modal-ptemp{
    background: linear-gradient(to right, blue,green, yellow, red);
    width: 100px;
    height: 25px;
    display:inline-block;
    border: 2px solid black;
}
#modal-readouts{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#modal-readouts h3{
    background-color: rgba(11, 79, 117, 0.5);
    width: 50%;
    padding-left: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}
.highlight{
    box-shadow: 0 0 25px rgb(255, 255, 255);
}

.modal-wrapper-1{
    background-color: rgba(54, 54, 54, 0.5);
    width: 85%;
    height: 80%;
    display:flex;
    align-items: center;
}

.modal-wrapper-2{
    width: 98%;
    height: 90%;
    background: linear-gradient(to bottom, rgba(11, 79, 117, 0.5), rgba(78, 149, 151, 0.5) );
    display:flex;
    align-items: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#modal-close{
    background-color: rgb(252, 184, 58);
    border:none;
    border-radius: 10px;
    height: 40%;
    width: 40px;
    line-height: 10px;
    font-size: 20px;
    font-weight: 600;
}
.sound {
    line-height: 20px;
    padding: 5px;
}